<main class="contact-main">
	<div class="contact-info">
		<ul>
			<li><u>CONTACTS</u></li>
			<li>Dale Grages</li>
			<li>Managing Director</li>
			<li>Vision Commercial Real Estate Services</li>
			<li>Phone: (404) 433-6918</li>
			<li>Website: visioncres.com</li>
		</ul>
		<ul>
			<li><u>National Office</u></li>
			<li>480 Summerfield Dr</li>
			<li>Atlanta, GA 30022</li>
		</ul>
		<ul>
			<li><u>Florida Office</u></li>
			<li>2585 Cove Rd</li>
			<li>Navarre. FL 32566</li>
		</ul>
	</div>
	<div class="contact-profile">
		<p><u>PROFILE</u></p>
		<p>Dale Grages is Managing Director responsible for operations of
		inspections, underwriting, and outsourcing solutions. Prior to founding
		Vision Commercial Real Estate Services, LLC, Mr. Grages was Vice
		President responsible for consulting operations of a $28 billion rated
		special servicer. Previously, he was Managing Director of a financial
		services company where he directed commercial real estate
		underwriting, inspections, and due diligence. Mr. Grages began a 20
		year Life Company career at Prudential Realty in the Atlanta office of
		commercial real estate and later joined MetLife Real Estate where he was
		an Investment Manager serving on the National Investment Committee.</p>
	</div>
</main>