<main>
	<div>
		<h2 >Annual Lender Property Inspections</h2>
		<p>VISION has extensive site inspection and market research resources for the assessment of physical, economic,
		and market conditions of all commercial property types. Our network of professionals are qualified, experienced,
		and provide comprehensive coverage throughout the United States.</p>
	</div>

	<div>
		<h2>Why Partner with VISION</h2>
		<p>Your servicing team has a valuable reputation to protect as capital providers and servicers. For a performing
		loan, the annual inspection is a key representation of servicing capabilities. Vision understands the importance
		of the lender/servicer relationship. We provide a focused professional program to ensure that your inspections
		are high quality, timely, and professionally prepared.</p>
	</div>

	<div>
		<ul>
			<li>
				<u>Focused Inspection Process</u>: Through VISION, your company can be assured that all properties will be
				inspected and reports delivered on time, free of issues.
			</li>
			<li>
				<u>Quality Reports</u>: We understand that reports need to be high quality and ready to be delivered to your
				lenders. Partially complete inspection forms with errors in grammar, spelling, conflicting narrative, etc.,
				are never acceptable. VISION’s quality inspection program and double quality control review ensures
				delivery of consistent quality reports.
			</li>
			<li>
				<u>Professional Photos</u>: VISION understands that photographs are key to providing quality inspections. Your
				servicing team will not have to request more or edit photos provided by our team.
			</li>
		</ul>
	</div>


</main>


