<main>
	<div>
		<h2>Property Inspections and Market Research</h2>
		<p>VISION has extensive site inspections and market research resources for the assessment of physical, economic, and
		market conditions of all commercial property types. Our network of professionals are qualified and experienced
		and provide comprehensive coverage throughout the United States. We are experienced in high volume portfolios
		that can be delivered in as short as 10 business days to support equity or debt origination transactions or annually
		for existing portfolios. Deliverables range from highly comprehensive underwriting inspections to photo
		surveillance reports. Common uses of our services include:</p>
	</div>

	<div class="inspections-lists">
		<ul>
			<li>Acquisition / Seller Due Diligence</li>
			<li>Asset Management</li>
			<li>CMBS (Buyer/Seller/Surveillance)</li>
			<li>Custom Due Diligence Projects</li>
			<li>Loan Assumption or Modification</li>
			<li>Photo Only Assignments</li>
		</ul>
		<ul>
			<li>Annual Loan Servicing Inspections</li>
			<li>Performing and Non-Performing Loans</li>
			<li>Market Studies</li>
			<li>Equity Monitoring</li>
			<li>Loan Origination (Underwriting)</li>
			<li>Portfolio Reviews</li>
		</ul>
	</div>
</main>


