<main>
	<div>
		<h2 class="header-subtitle">Our Mission</h2>
		<p>Our mission is to be the leading quality provider of commercial real estate inspections and financial services. We
		pride ourselves in providing the highest quality of service and are committed to the continued investment in the
		expertise, technology, and management necessary to accomplish our mission. Ultimately, we strive to provide
		our clients with the best available resources to help them with their unique opportunities and challenges in the
		commercial real estate industry.</p>
	</div>

	<div>
		<h2 class="header-subtitle">Our Core Values</h2>
		<p>We offer the best solutions for our clients’ real estate outsourcing needs by adhering to these
		fundamental values:</p>
		<ul class="core-values-list">
			<li>
				<h3><i class="fa fa-caret-right splat" aria-hidden="true"></i> INTEGRITY</h3>
				<p>We deliver on our promises. Honesty and integrity drive all that we do.</p>
			</li>
			<li>
				<h3><i class="fa fa-caret-right splat" aria-hidden="true"></i> EXPERIENCE</h3>
				<p>Our inspectors and underwriters are very experienced professionals with the highest level of
				knowledge in the industry.</p>
			</li>
			<li>
				<h3><i class="fa fa-caret-right splat" aria-hidden="true"></i> CLIENT SERVICE</h3>
				<p>We strive to understand our clients’ needs and act in their best interest with urgency and expertise.</p>
			</li>
			<li>
				<h3><i class="fa fa-caret-right splat" aria-hidden="true"></i> RELATIONSHIPS</h3>
				<p>We achieve results in a collaborative environment that fosters trust, compassion and respect
				for each other and our clients. Our goal is to build the value of every relationship with each
				interaction.</p>
			</li>
		</ul>
	</div>


</main>