<main>
	<div>
		<h2 class="header-subtitle">Outsourcing Solutions</h2>
		<p>VISION works with our clients to provide the best possible outsourcing solution for their needs. Solutions are
		customized for each client and VISION is dedicated to being the highest quality outsourcing solution. Our core
		competencies are inspections, underwriting, due diligence, commercial real estate credit, market research,
		acquisition/disposition support, and managing real estate risk. Our clients can depend on VISION as we maintain
		our fundamental values of Integrity, Experience, Client Service, and Relationships. Examples of VISION client
		solutions include:</p>
	</div>

	<div>
		<ul>
			<li>
				Investment Review – Mark to Market
			</li>
			<li>
				Loan File, Collateral Review, and Ranking
			</li>
			<li>
				Servicing Credit Support
			</li>
			<li>
				CMBS Surveillance
			</li>
		</ul>
	</div>

</main>
