<main>
	<div>
		<h2 class="header-subtitle">CMBS New Origination Underwriting and B-Piece Re-underwriting:</h2>
		<p>VISION’s experienced underwriters provide tailored credit analysis of commercial mortgages from full
		underwriting to individualized underwriting support. We specialize in new loan origination underwriting for
		securitization with dedicated teams available for regular conduit, small loan programs, large loans, and
		portfolios. Our underwriters and analysts have an in-depth knowledge of conduit lending, CMBS, and rating
		agency requirements. We also perform re-underwriting for securitization or financing of existing mortgage loan
		portfolios, as well as re-underwriting and inspections in support of acquisition of high yield CMBS assets (B-
		Piece).</p>
	</div>

	<div>
		<h2 class="header-subtitle">Equity Underwriting:</h2>
		<p>VISION provides due diligence, underwriting, and property inspections in support of the acquisition or
		disposition of equity or JV positions in commercial real estate. Our equity team operates under contract
		timelines to review third party reports, analyze property and market conditions, underwrite or re-underwrite,
		model cash flows and returns, review leases, and prepare investment memorandums and asset summaries.</p>
	</div>

	<div>
		<h2 class="header-subtitle">Distress Portfolios of Debt and Equity Underwriting:</h2>
		<p>Often under tight timelines, VISION provides underwriting and due diligence services that support the acquisition
		or disposition of distress debt or equity positions. We review third party reports, analyze property and market
		conditions, underwrite or re-underwrite, model cash flows and returns, review leases, and prepare investment
		memorandums and asset summaries. We can tailor an investment analysis that meets the investment timeline
		and level of information available for analysis. We can engage, analyze and review third party Broker Price
		Opinions on a large portfolio of assets.</p>
	</div>
</main>
