// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.city-image-row{
	display: flex;
	justify-content: center;
	img{
  		width: 260px;
  		height: 200px;
/*  		margin-right: 3px;
  		margin-left: 3px;*/
  	}
  	img.right-margin{
  		margin-right: 4px;
  	}
  	img.left-margin{
  		margin-left: 4px;
  	}
}

.cities-container{
	display: flex;
	justify-content: center;
}

.city-name-row{
	width: 1062px;
}

.city-names{
	padding-right: 15px;
	padding-left: 15px;
	height: 28px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	li{
		font-size: 10px;
		text-transform: none;
	}
	li.big-city-name{
		font-size: 17px;
	}

}
