<!DOCTYPE html>
<html>
  <head>
    <title>Vision CRES</title>
    <%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h1 class="header-title"><b>VISION</b></h1>
  		<h2 class="header-subtitle">Commercial Real Estate Services</h2>
  	</header>
  	<nav class="header-nav">
  		<ul>
  			<li><a href="/">Home</a></li>
  			<li><a href="/mission">Mission</a></li>
  			<li><a href="/inspections">Inspections</a></li>
  			<li><a href="/underwriting">Underwriting</a></li>
  			<li><a href="/solutions">Solutions</a></li>
  			<li><a href="/contact">Contact Us</a></li>
  		</ul>
  	</nav>
    <%= yield %>
    <nav class="footer-nav">
  		<ul>
  			<li>Integrity</li>
  			<li>|</li>
  			<li>Experience</li>
  			<li>|</li>
  			<li>Client Service</li>
  			<li>|</li>
  			<li>Relationships</li>
  		</ul>
    </nav>
  </body>
</html>
